
.app-customer-card-buttons{
    visibility: hidden;
}

.app-customer-card:hover .app-customer-card-buttons {
    visibility: visible;
}

.active .app-customer-card-buttons .btn-link {
    color: white
}